In [1]:
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../../data/raw/possession.csv',
               encoding='latin-1')
df

,match_id,id,subtype,event_incident_typefk,elapsed,elapsed_plus,del,homepos,awaypos,injury_time,goal_type,card_type
0,489042,379029,possession,352,25,NaN,NaN,56.0,44.0,NaN,NaN,NaN
1,489042,379251,possession,352,45,1.0,NaN,54.0,46.0,NaN,NaN,NaN
2,489042,379443,possession,352,70,NaN,NaN,54.0,46.0,NaN,NaN,NaN
3,489042,379575,possession,352,90,5.0,NaN,55.0,45.0,NaN,NaN,NaN
4,489043,375608,possession,352,27,NaN,NaN,65.0,35.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
34810,2030170,4947481,possession,352,85,NaN,NaN,45.0,55.0,NaN,NaN,NaN
34811,2030171,4940420,possession,352,22,NaN,NaN,59.0,41.0,NaN,NaN,NaN
34812,2030171,4940639,possession,352,45,NaN,NaN,61.0,39.0,NaN,NaN,NaN
34813,2030171,4940941,possession,352,68,NaN,NaN,60.0,40.0,NaN,NaN,NaN
34814,2030171,4941128,possession,352,90,1.0,NaN,62.0,38.0,NaN,NaN,NaN

In [3]:
df.dtypes

match_id                   int64
id                         int64
subtype                   object
event_incident_typefk      int64
elapsed                    int64
elapsed_plus             float64
del                      float64
homepos                  float64
awaypos                  float64
injury_time              float64
goal_type                 object
card_type                 object
dtype: object

In [4]:
pd.set_option('display.float_format',lambda x: '%.2f' % x)

In [5]:
df.describe()

,match_id,id,event_incident_typefk,elapsed,elapsed_plus,del,homepos,awaypos,injury_time
count,34815.00,34815.00,34815.00,34815.00,6320.00,17.00,34796.00,34796.00,2.00
mean,1383210.04,3084967.57,352.00,55.39,2.03,1.00,51.81,48.19,47.00
std,548690.26,1757282.14,0.00,24.92,1.43,0.00,10.16,10.16,5.66
min,489042.00,375608.00,352.00,4.00,1.00,1.00,2.00,6.00,43.00
25%,875496.00,1374959.50,352.00,30.00,1.00,1.00,45.00,42.00,45.00
50%,1475009.00,3320984.00,352.00,45.00,1.00,1.00,52.00,48.00,47.00
75%,1983548.00,4800273.50,352.00,75.00,3.00,1.00,58.00,55.00,49.00
max,2118418.00,5623586.00,352.00,90.00,16.00,1.00,94.00,98.00,51.00

In [6]:
simple_profile = df.describe(include='all')
simple_profile

,match_id,id,subtype,event_incident_typefk,elapsed,elapsed_plus,del,homepos,awaypos,injury_time,goal_type,card_type
count,34815.00,34815.00,34815,34815.00,34815.00,6320.00,17.00,34796.00,34796.00,2.00,1,1
unique,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
top,NaN,NaN,possession,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dg,y
freq,NaN,NaN,34815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
mean,1383210.04,3084967.57,NaN,352.00,55.39,2.03,1.00,51.81,48.19,47.00,NaN,NaN
std,548690.26,1757282.14,NaN,0.00,24.92,1.43,0.00,10.16,10.16,5.66,NaN,NaN
min,489042.00,375608.00,NaN,352.00,4.00,1.00,1.00,2.00,6.00,43.00,NaN,NaN
25%,875496.00,1374959.50,NaN,352.00,30.00,1.00,1.00,45.00,42.00,45.00,NaN,NaN
50%,1475009.00,3320984.00,NaN,352.00,45.00,1.00,1.00,52.00,48.00,47.00,NaN,NaN
75%,1983548.00,4800273.50,NaN,352.00,75.00,3.00,1.00,58.00,55.00,49.00,NaN,NaN
max,2118418.00,5623586.00,NaN,352.00,90.00,16.00,1.00,94.00,98.00,51.00,NaN,NaN

In [7]:
profile = ProfileReport(df, title="Export Data Profiling Report")

In [8]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [9]:
def get_basic_profile(dataframe):
    quantile_range = 0.5
    results = {}
    
    for column in dataframe.columns:
        count = df[column].count()
        nans = df[column].isna().sum()
        min = df[column].min()
        max = df[column].max()
        median = df[column].median()
        std = df[column].std()
        kurt = df[column].kurt()
        skew = df[column].skew()
        quant = df[column].quantile(q=quantile_range)
        
        results[column] = {'count': count,
                            'count_na': nans,
                            'min':min,
                            'max':max,
                            'median':median,
                            'std':std,
                            'kurt':kurt,
                            'skew':skew,
                            'quant {quantile_range}':quant}
 
    return results

In [10]:
num_columns = df.select_dtypes(include=['int64','float64'])
basic_profile = get_basic_profile(num_columns)
basic_profile

{'match_id': {'count': 34815,
  'count_na': 0,
  'min': 489042,
  'max': 2118418,
  'median': 1475009.0,
  'std': 548690.2568460202,
  'kurt': -1.527520055577049,
  'skew': -0.21873765241064536,
  'quant {quantile_range}': 1475009.0},
 'id': {'count': 34815,
  'count_na': 0,
  'min': 375608,
  'max': 5623586,
  'median': 3320984.0,
  'std': 1757282.1364704191,
  'kurt': -1.5508960974212835,
  'skew': -0.04082735291821031,
  'quant {quantile_range}': 3320984.0},
 'event_incident_typefk': {'count': 34815,
  'count_na': 0,
  'min': 352,
  'max': 352,
  'median': 352.0,
  'std': 0.0,
  'kurt': 0,
  'skew': 0,
  'quant {quantile_range}': 352.0},
 'elapsed': {'count': 34815,
  'count_na': 0,
  'min': 4,
  'max': 90,
  'median': 45.0,
  'std': 24.923775056060077,
  'kurt': -1.3430747331121242,
  'skew': 0.01754971855744891,
  'quant {quantile_range}': 45.0},
 'elapsed_plus': {'count': 6320,
  'count_na': 28495,
  'min': 1.0,
  'max': 16.0,
  'median': 1.0,
  'std': 1.429001596853891,
  'kurt': 3.537602122595228,
  'skew': 1.6194295780003682,
  'quant {quantile_range}': 1.0},
 'del': {'count': 17,
  'count_na': 34798,
  'min': 1.0,
  'max': 1.0,
  'median': 1.0,
  'std': 0.0,
  'kurt': 0,
  'skew': 0,
  'quant {quantile_range}': 1.0},
 'homepos': {'count': 34796,
  'count_na': 19,
  'min': 2.0,
  'max': 94.0,
  'median': 52.0,
  'std': 10.15704551326487,
  'kurt': 0.15017909249962536,
  'skew': -0.082799668904936,
  'quant {quantile_range}': 52.0},
 'awaypos': {'count': 34796,
  'count_na': 19,
  'min': 6.0,
  'max': 98.0,
  'median': 48.0,
  'std': 10.15704551326487,
  'kurt': 0.15017909249962536,
  'skew': 0.082799668904936,
  'quant {quantile_range}': 48.0},
 'injury_time': {'count': 2,
  'count_na': 34813,
  'min': 43.0,
  'max': 51.0,
  'median': 47.0,
  'std': 5.656854249492381,
  'kurt': nan,
  'skew': nan,
  'quant {quantile_range}': 47.0}}

In [11]:
# square root choice
bins = int(np.ceil(np.sqrt(len(num_columns['height']))))
 
fig, ax = plt.subplots(1, 1, figsize=(14,8))
ax.hist(num_columns['height'], bins)
 
ax.ticklabel_format(useOffset=False, style='plain')
ax.set_xlabel('Height')
ax.set_ylabel('Count')
ax.set_title(r'Height count')
# plt.savefig("mygraph.jpg")

KeyError: 'height'